/* ============= Comon Styles =============*/
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.accent-color {
  color: #fd9222;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============= /Comon Styles =============*/

/* ============= Header Styles =============*/
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.page-logo-part {
  font-style: italic;
}

.page-logo-icon {
  margin-left: 4px;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.social-list {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.social-link {
  display: block;
  line-height: 0;

  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  stroke: #fd9222;
}

.social-icon {
  fill: none;
}

/* ============= /Header Styles =============*/

/* ============= Hero Styles =============*/
.hero-section {
  max-width: 1200px;
  background: #1e1823;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to bottom, rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
}

.main-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-links-wrapper {
  display: flex;
  align-items: center;
}

.hero-button {
  min-width: 144px;
  height: 45px;
  margin-right: 14px;
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  min-width: 183px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-made-link:hover,
.now-made-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-down-link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}

.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: #fd9222;
}

.scroll-down-icon {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover .scroll-down-icon,
.scroll-down-link:focus .scroll-down-icon {
  fill: #ffffff;
}
/* ============= /Hero Styles =============*/

/* ============= Benefits Styles =============*/
.benefits-section {
  margin-top: 72px;
  margin-bottom: 50px;
  background-color: #1e1823;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.benefits-list {
  display: flex;
  gap: 70px;
}

.benefits-list-item {
  width: calc((100% - 140px) / 3);
  position: relative;
}

.benefits-list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -18px;
  height: 50%;
  width: 1px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ============= /Benefits Styles =============*/

/* ============= Ingredients Styles =============*/
.ingredients-section-title {
  width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-description {
  width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}

.ingredients-list-item {
  width: calc((100% - 57px) / 4);
  padding: 28px 32px;
  border: 1px solid #fd9222;
  border-radius: 15px;

  position: relative;
  overflow: hidden;
}

.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}

.overlay {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  color: #111111;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-list-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;

  margin-bottom: 8px;
}

.overlay-categories {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}

.overlay-category {
  padding: 6px 16px;
  border: 1px solid #fd9222;
  border-radius: 35px;
  font-size: 10px;
  line-height: 1.2;
  text-transform: lowercase;
}

.overlay-category-primery {
  background: #fd9222;
  color: #ffffff;
}

.overlay-category-secondary {
  background-color: #fafafa;
}

.overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.ingredients-list-item:hover .overlay,
.ingredients-list-item:focus .overlay {
  transform: translateY(0);
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border-color: #1e1823;
  color: #ffffff;
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ============= /Ingredients Styles =============*/

/* ============= How-Made Styles =============*/
.how-made-section-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
  display: flex;
  gap: 20px;
}

.how-made-list {
  padding-right: 26px;
}

.how-made-text-wrapper {
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-title {
  max-width: 350px;
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.how-made-list-item {
  position: relative;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 16px;
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.how-made-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}
/* ============= /How-Made Styles =============*/

/* ============= Reviews Styles =============*/
.reviews-section {
  padding-bottom: 100px;
}

.reviews-title {
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  gap: 28px;
}

.reviews-list-item {
  padding: 56px 24px 24px;
  margin-bottom: 50px;
  width: calc((100% - 56px) / 3);
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.reviews-list-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  display: block;
  min-width: 222px;
  padding: 14px 40px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  background: #fd9222;
  color: #ffffff;
}
/* ============= /Reviews Styles =============*/

/* ============= Footer Styles =============*/
.page-footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: solid rgba(255, 255, 255, 0.1);
}

.page-footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.contacts {
  font-style: normal;
}

.contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contacts-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #fd9222;
}
/* ============= /Footer Styles =============*/

/* ============= Modal Styles =============*/
.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  width: 517px;
  height: 80%;
  max-height: 794px;
  border-radius: 15px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  stroke: #111111;
  line-height: 0;
}

.modal-text {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal-form-wrapper {
  margin-bottom: 18px;
}

.modal-form-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 62px;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #fd9222;
  outline: transparent;
}

.modal-form-input-icon {
  position: absolute;
  top: 22px;
  left: 24px;
  fill: none;
  stroke: #404040;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  stroke: #fd9222;
}

.modal-form-textarea {
  width: 100%;
  height: 137px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-textarea:focus {
  border-color: #fd9222;
  outline: transparent;
}

.checkbox-wrapper {
  margin-bottom: 40px;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  fill: transparent;
  cursor: pointer;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.checkbox-link {
  color: #fd9222;
  text-decoration: underline;
}

.checkbox:focus + .checkbox-label > .custom-checkbox {
  border-color: #fd9222;
}

.checkbox:checked + .checkbox-label > .custom-checkbox {
  background-color: #fd9222;
  fill: #ffffff;
}

.send-bnt {
  min-width: 117px;
  height: 45px;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-bnt:hover,
.send-bnt:focus {
  color: #fd9222;
  background: #fcf1e0;
}
/* ============= /Modal Styles =============*/
