/* ============= Comon Styles =============*/
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111111;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.accent-color {
  color: #fd9222;
}

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
/* ============= /Comon Styles =============*/

/* ============= Header Styles =============*/
.page-header {
  margin: 28px 0;
}

.page-header .container {
  display: flex;
}

.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  margin-right: 631px;
}

.page-logo-part {
  font-style: italic;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
/* ============= /Header Styles =============*/

/* ============= Hero Styles =============*/
.hero-section {
  background: #1e1823;
  border-radius: 30px;
  /* width: 1200px; */
  height: 600px;
  margin-bottom: 72px;
  /* margin: 0 auto 72px auto; */
  padding-top: 381px;
  padding-bottom: 40px;
}

.hero-section .container {
  width: 1056px;
}

.main-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 484px;
  margin-bottom: 32px;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #fd9222;
  margin-right: 14px;
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  margin-right: 637px;
}

.how-made-link:hover,
.now-made-link:focus {
  color: #fd9222;
}

.scroll-down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 78px;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}
/* ============= /Hero Styles =============*/

/* ============= Benefits Styles =============*/
.benefits-section {
  background-color: #1e1823;
}

.benefits-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ============= /Benefits Styles =============*/

/* ============= Ingredients Styles =============*/
.ingredients-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ============= /Ingredients Styles =============*/

/* ============= How-Made Styles =============*/
.how-made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.how-made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ============= /How-Made Styles =============*/

/* ============= Reviews Styles =============*/
.reviews-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  font-weight: 600;
  font-size: 18px;
}

.reviews-button:hover,
.reviews-button:focus {
  background: #fd9222;
  color: #ffffff;
}
/* ============= /Reviews Styles =============*/

/* ============= Footer Styles =============*/
.page-footer {
  background: #1e1823;
}
.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.contacts {
  font-style: normal;
}

.contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.contacts-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #fd9222;
}

.footer-nav-link {
  color: #fafafa;
}
/* ============= /Footer Styles =============*/
